{% extends 'index2.html' %}


{% block style %} 
<style>
    .my-nav{
      background-color:burlywood !important;
    }
 </style>
{% endblock style %}
                     
{% block content %}
<div class="container" style="margin: 220px;">
<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src="{{post.post_image.url}}" alt="..." /></figure>
                <!-- Post content-->
                <span>{{post.comments_set.count}}</span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                    <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                  </svg>
                  <span>{{post.likes.count}}</span>
                  <a href="{%  url 'likes'  id=post.id %}"><button type="button" class="btn btn-outline-danger"> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                  <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a9.84 9.84 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733.058.119.103.242.138.363.077.27.113.567.113.856 0 .289-.036.586-.113.856-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.163 3.163 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.82 4.82 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                  </svg></button></a>
                <section class="mb-5">
                    <h2> {{post.title}} </h2>
                    <h5>Title description, {{post.post_date}}</h5>
                    <p>{{post.post_text}}</p>
                </section>
            </article>
             <!-- Comments section-->
             <section class="mb-5">
                <div class="card bg-light">
                    <div class="card-body">

                       <!-- Comment -->
                       {% for comment in post.comments_set.all %}

                       <div class="d-flex mb-4">
                        <!-- Parent comment-->
                        <div class="flex-shrink-0">
                            <img class="rounded-circle" src="{{comment.creator.author.post.url}}" alt="..."  width='50' height='50'/></div>
                        <div class="ms-3">
                            <div class="fw-bold">{{comment.creator}}  </div>
                            {{comment.coment_text}}
                        </div>
                    </div>
                    <!-- Single comment-->
                    {% endfor %}
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'comments' id=post.id %}">
                        {% csrf_token %}
                        <input type="text" name="comment" placeholder="Comments">
                        <button type="submit" ><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
                            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg></button>
                          </form>
                          {% endif %}     
   
                </div>
            </div>
        </section>
    </div>
    <!-- Side widgets-->
    <div class="col-lg-4">
        <!-- Search widget-->
        <div class="card mb-4 ">
            <div class="card-header">Search</div>
            <div class="card-body">
                <div class="input-group">
                    <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                    <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                </div>
            </div>
        </div>
        <div class="card mb-4 ">
            <h2>Author informations</h2><br>
            <h2>{{post.creator.user.username}}</h2>
            
            <div class="col-md-8 col-sm-8 col-lg-8 mt-2" >
                <div class="post-box">
                    <div class="post-thumb">
                        {% if post.creator.author %}
                        <img src="{{post.creator.author.url}}" class="rounded" >
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock %}

